ReUse/android/settings.gradle
ReUse/android/app/_BUCK
ReUse/android/app/build.gradle
ReUse/android/app/build_defs.bzl
ReUse/android/app/debug.keystore
ReUse/android/app/proguard-rules.pro
ReUse/android/app/src/debug/AndroidManifest.xml
ReUse/android/app/src/debug/java/com/reuse/ReactNativeFlipper.java
ReUse/android/app/src/main/AndroidManifest.xml
ReUse/android/app/src/main/java/com/reuse/MainActivity.java
ReUse/android/app/src/main/java/com/reuse/MainApplication.java
ReUse/android/app/src/main/res/drawable/rn_edit_text_material.xml
ReUse/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
ReUse/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
ReUse/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
ReUse/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
ReUse/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
ReUse/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
ReUse/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
ReUse/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
ReUse/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
ReUse/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
ReUse/android/app/src/main/res/values/strings.xml
ReUse/android/app/src/main/res/values/styles.xml
ReUse/android/gradle/wrapper/gradle-wrapper.jar
ReUse/android/gradle/wrapper/gradle-wrapper.properties
ReUse/ios/Podfile
ReUse/ios/Podfile.lock
ReUse/ios/ReUse/AppDelegate.h
ReUse/ios/ReUse/AppDelegate.m
ReUse/ios/ReUse/Info.plist
ReUse/ios/ReUse/LaunchScreen.storyboard
ReUse/ios/ReUse/main.m
ReUse/ios/ReUse.xcodeproj/project.pbxproj
ReUse/ios/ReUse.xcodeproj/xcshareddata/xcschemes/ReUse.xcscheme
ReUse/ios/ReUse.xcworkspace/contents.xcworkspacedata
ReUse/ios/ReUse.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ReUse/ios/ReUse/Images.xcassets/Contents.json
ReUse/ios/ReUse/Images.xcassets/AppIcon.appiconset/Contents.json
ReUse/ios/ReUseTests/Info.plist
ReUse/ios/ReUseTests/ReUseTests.m
ReUse/src/app/App.tsx
ReUse/src/app/index.ts
ReUse/src/app/navigation.ts
ReUse/src/components/index.ts
ReUse/src/components/Input/index.ts
ReUse/src/components/Input/Input.style.ts
ReUse/src/components/Input/Input.tsx
ReUse/src/components/Input/Input.types.ts
ReUse/src/environment/Images.ts
ReUse/src/environment/index.ts
ReUse/src/environment/login.json
ReUse/src/environment/register.json
ReUse/src/environment/welcome.json
ReUse/src/environment/Images/login.jpeg
ReUse/src/environment/Images/welcome.png
ReUse/src/screens/Login/index.ts
ReUse/src/screens/Login/LoginScreen.style.ts
ReUse/src/screens/Login/LoginScreen.tsx
ReUse/src/screens/Register/index.ts
ReUse/src/screens/Register/RegisterScreen.styles.ts
ReUse/src/screens/Register/RegisterScreen.tsx
ReUse/src/screens/welcome/index.ts
ReUse/src/screens/welcome/WelcomeScreen.styles.ts
ReUse/src/screens/welcome/WelcomeScreen.tsx
reuse-be/appsettings.Development.json
reuse-be/appsettings.json
reuse-be/Program.cs
reuse-be/reuse-be.csproj
reuse-be/reuse-be.csproj.user
reuse-be/reuse-be.sln
reuse-be/WeatherForecast.cs
reuse-be/.vs/reuse-be/project-colors.json
reuse-be/.vs/reuse-be/DesignTimeBuild/.dtbcache.v2
reuse-be/.vs/reuse-be/v17/.futdcache.v1
reuse-be/bin/Debug/net6.0/appsettings.Development.json
reuse-be/bin/Debug/net6.0/appsettings.json
reuse-be/bin/Debug/net6.0/AspNetCore.Identity.MongoDbCore.dll
reuse-be/bin/Debug/net6.0/DnsClient.dll
reuse-be/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
reuse-be/bin/Debug/net6.0/Humanizer.dll
reuse-be/bin/Debug/net6.0/IdentityModel.dll
reuse-be/bin/Debug/net6.0/IdentityServer4.AspNetIdentity.dll
reuse-be/bin/Debug/net6.0/IdentityServer4.dll
reuse-be/bin/Debug/net6.0/IdentityServer4.Storage.dll
reuse-be/bin/Debug/net6.0/MessagePack.Annotations.dll
reuse-be/bin/Debug/net6.0/MessagePack.dll
reuse-be/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
reuse-be/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
reuse-be/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
reuse-be/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
reuse-be/bin/Debug/net6.0/Microsoft.Build.dll
reuse-be/bin/Debug/net6.0/Microsoft.Build.Framework.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Features.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.Features.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.Scripting.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Features.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.dll
reuse-be/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
reuse-be/bin/Debug/net6.0/Microsoft.DiaSymReader.dll
reuse-be/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
reuse-be/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
reuse-be/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
reuse-be/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
reuse-be/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
reuse-be/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
reuse-be/bin/Debug/net6.0/Microsoft.NET.StringTools.dll
reuse-be/bin/Debug/net6.0/Microsoft.OpenApi.dll
reuse-be/bin/Debug/net6.0/Microsoft.VisualStudio.Debugger.Contracts.dll
reuse-be/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
reuse-be/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
reuse-be/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
reuse-be/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
reuse-be/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
reuse-be/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
reuse-be/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
reuse-be/bin/Debug/net6.0/MongoDB.Bson.dll
reuse-be/bin/Debug/net6.0/MongoDB.Driver.Core.dll
reuse-be/bin/Debug/net6.0/MongoDB.Driver.dll
reuse-be/bin/Debug/net6.0/MongoDB.Libmongocrypt.dll
reuse-be/bin/Debug/net6.0/MongoDbGenericRepository.dll
reuse-be/bin/Debug/net6.0/Newtonsoft.Json.dll
reuse-be/bin/Debug/net6.0/NuGet.Common.dll
reuse-be/bin/Debug/net6.0/NuGet.Configuration.dll
reuse-be/bin/Debug/net6.0/NuGet.DependencyResolver.Core.dll
reuse-be/bin/Debug/net6.0/NuGet.Frameworks.dll
reuse-be/bin/Debug/net6.0/NuGet.LibraryModel.dll
reuse-be/bin/Debug/net6.0/NuGet.Packaging.dll
reuse-be/bin/Debug/net6.0/NuGet.ProjectModel.dll
reuse-be/bin/Debug/net6.0/NuGet.Protocol.dll
reuse-be/bin/Debug/net6.0/NuGet.Versioning.dll
reuse-be/bin/Debug/net6.0/reuse-be.deps.json
reuse-be/bin/Debug/net6.0/reuse-be.dll
reuse-be/bin/Debug/net6.0/reuse-be.exe
reuse-be/bin/Debug/net6.0/reuse-be.pdb
reuse-be/bin/Debug/net6.0/reuse-be.runtimeconfig.json
reuse-be/bin/Debug/net6.0/SharpCompress.dll
reuse-be/bin/Debug/net6.0/Snappier.dll
reuse-be/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
reuse-be/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
reuse-be/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
reuse-be/bin/Debug/net6.0/System.Composition.AttributedModel.dll
reuse-be/bin/Debug/net6.0/System.Composition.Convention.dll
reuse-be/bin/Debug/net6.0/System.Composition.Hosting.dll
reuse-be/bin/Debug/net6.0/System.Composition.Runtime.dll
reuse-be/bin/Debug/net6.0/System.Composition.TypedParts.dll
reuse-be/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
reuse-be/bin/Debug/net6.0/System.Drawing.Common.dll
reuse-be/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
reuse-be/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
reuse-be/bin/Debug/net6.0/System.Security.Permissions.dll
reuse-be/bin/Debug/net6.0/System.Windows.Extensions.dll
reuse-be/bin/Debug/net6.0/ZstdSharp.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/ref/reuse-be.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/runtimes/linux/native/libmongocrypt.so
reuse-be/bin/Debug/net6.0/runtimes/osx/native/libmongocrypt.dylib
reuse-be/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
reuse-be/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
reuse-be/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
reuse-be/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
reuse-be/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
reuse-be/bin/Debug/net6.0/runtimes/win/native/mongocrypt.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
reuse-be/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
reuse-be/Controllers/WeatherForecastController.cs
reuse-be/obj/project.assets.json
reuse-be/obj/project.nuget.cache
reuse-be/obj/reuse-be.csproj.nuget.dgspec.json
reuse-be/obj/reuse-be.csproj.nuget.g.props
reuse-be/obj/reuse-be.csproj.nuget.g.targets
reuse-be/obj/staticwebassets.pack.sentinel
reuse-be/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
reuse-be/obj/Debug/net6.0/apphost.exe
reuse-be/obj/Debug/net6.0/reuse-be.AssemblyInfo.cs
reuse-be/obj/Debug/net6.0/reuse-be.AssemblyInfoInputs.cache
reuse-be/obj/Debug/net6.0/reuse-be.assets.cache
reuse-be/obj/Debug/net6.0/reuse-be.csproj.AssemblyReference.cache
reuse-be/obj/Debug/net6.0/reuse-be.csproj.CopyComplete
reuse-be/obj/Debug/net6.0/reuse-be.csproj.CoreCompileInputs.cache
reuse-be/obj/Debug/net6.0/reuse-be.csproj.FileListAbsolute.txt
reuse-be/obj/Debug/net6.0/reuse-be.dll
reuse-be/obj/Debug/net6.0/reuse-be.GeneratedMSBuildEditorConfig.editorconfig
reuse-be/obj/Debug/net6.0/reuse-be.genruntimeconfig.cache
reuse-be/obj/Debug/net6.0/reuse-be.GlobalUsings.g.cs
reuse-be/obj/Debug/net6.0/reuse-be.MvcApplicationPartsAssemblyInfo.cache
reuse-be/obj/Debug/net6.0/reuse-be.MvcApplicationPartsAssemblyInfo.cs
reuse-be/obj/Debug/net6.0/reuse-be.pdb
reuse-be/obj/Debug/net6.0/staticwebassets.build.json
reuse-be/obj/Debug/net6.0/ref/reuse-be.dll
reuse-be/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
reuse-be/obj/Release/net6.0/reuse-be.AssemblyInfo.cs
reuse-be/obj/Release/net6.0/reuse-be.AssemblyInfoInputs.cache
reuse-be/obj/Release/net6.0/reuse-be.assets.cache
reuse-be/obj/Release/net6.0/reuse-be.GeneratedMSBuildEditorConfig.editorconfig
reuse-be/obj/Release/net6.0/reuse-be.GlobalUsings.g.cs
reuse-be/Properties/launchSettings.json
